.advertise-slide{
  position: relative;
  padding-bottom: 1px;
  display: flex;
  width: 847px;
  overflow: visible;
  &__info{
    padding: 60px 25px 30px 0px;
  }
  &__title{
    width: 400px;
    margin-bottom: 27px;
    color: #ffffff;
    font-family: "Panton - Extra Bold";
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  &__description{
    margin-bottom: 13px;
    color: #4bd1fe;
    font-family: "Panton - Semi Bold";
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    // Text style for "к, атушка"
    letter-spacing: 1.1px;
  }
  &__price{
    display: block;
    margin-bottom: 25px;
    color: #ffffff;
    font-family: $content-ff;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
  }
  &__buy{
    display: block;
    padding: 20px 50px;
    background-color: $content-color;
    color: #ffffff;
    font-family: $content-ff;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    // Text style for "К, упить"
    letter-spacing: 3.2px;
  }
  &__image{
    position: absolute;
    top: -25px;
    right: 25px;
  }
}
