.section-title{
  display: flex;
  margin-bottom: 45px;
  &__text{
    margin-right: 32px;
    color: $content-color;
    font-family: "Panton - Extra Bold";
    font-size: 36px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    // Text style for "Х, иты про"
    letter-spacing: 1.8px;
  }
  &__all-content{
    color: $blue-text-color;
    font-family: $content-ff;
    font-size: 11px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    // Text style for "в, есь кат"
    letter-spacing: 2.2px;
      }
}
