.user-links{
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  &__item{
    display: flex;
  }
  &__item-number{
    align-self: flex-start;
    padding-top: -5px;
    color: $blue-text-color;
    font-family: "Panton - Semi Bold";
    line-height: 12px;
    font-size: 16px;
    font-weight: 400;
    // Text style for "3,"
    letter-spacing: 0.4px;
  }
}
