@font-face {
  font-family: "Panton - ExtraBold";
  src: url('../fonts/Panton-ExtraBold.woff2') format('woff2'),
  url('../fonts/Panton-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Panton";
  src: url('../fonts/Panton-Bold.woff2') format('woff2'),
  url('../fonts/Panton-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Panton - SemiBold";
  src: url('../fonts/Panton-SemiBold.woff2') format('woff2'),
  url('../fonts/Panton-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Panton";
  src: url('../fonts/Panton-Regular.woff2') format('woff2'),
  url('../fonts/Panton-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Panton - Black";
  src: url('../fonts/Panton-Black.woff2') format('woff2'),
  url('../fonts/Panton-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
