$body-color: #fff;
$content-color: #1d1e1e;
$content-ff: Panton;
$thumbnail-bg-color: #0086c0;
$blue-text-color: #009ee2;
$sales-bg-color: #00963f;
$white-text-color: #00963f;
$tablet-width: 768px;
$desctop-width: 1140px;

$tablet-side-padding: 40px;
